.bgMoreLight{
background-color:var(--light-grayiii);
fill: var(--light-grayiii);
}
.bgLight {
    background-color:var(--light);
    fill: var(--light);
}
.bgDark {
    background-color:var(--dark);
    fill: var(--dark);
}
.bgBlue {
    background-color:var(--blue);
    fill: var(--blue);
}
.bgLightBlue {
    background-color:var(--light-blue);
    fill: var(--light-blue);
}
.bgGreen {
    background-color:var(--green);
    fill: var(--green);
}
.bgOrange {
    background-color:var(--orange);
    fill: var(--orange);
}
.bgYellow {
    background-color:var(--yellow);
    fill: var(--yellow);
}
.bgRed {
    background-color:var(--red);
    fill: var(--red);
}
.bgPurple {
    background-color:var(--purple);
    fill: var(--purple);
}
.bgGray {
    background-color:var(--gray);
    fill: var(--gray);
}


.txLight {
    color: var(--light);

}
.txDark {
    color: var(--dark);

}
.txBlue {
    color: var(--blue);

}
.txLightBlue {
    color: var(--light-blue);

}
.txGreen {
    color: var(--green);

}
.txOrange {
    color: var(--orange);

}
.txYellow {
    color: var(--yellow);

}
.txRed {
    color: var(--red);

}
.txPurple {
    color: var(--purple);

}
.txGray {
    color: var(--gray);
}
.bgfff{
background-color:#fff!important;
}
.grayGrad{
background:linear-gradient(#f4f4f4, #e4e4e4);
}
.bgTrans{
background:transparent;
}
.logofill{
    fill:var(--light);
    background:var(--light);
}